html {
}

body{
    text-align: left;
}

div.main {
    width: 100svh; 
    height: 100svh;
}

div#header h1{
    font-size: 5svh;
}

img#puffer_img{
    width: 35svh; 
    height: 80svh;
    margin-top: 2.5svh;
    margin-left: -0.7svh;
}

div#rectangle {
    float: left;
    border-radius: 5svh;
    border: 0.5svh solid black;
    width: 30svh; 
    height: 77svh;
    background-image: linear-gradient(to top, #0064ff, #a147e2, #da18b9, #f70089, #ff005a, #ff2e44, #ff4b2b, #ff6400, #ff8900, #fff000);
}

div.sensors {
    margin-left: 2svh;
    float: left;
}

p {
    font-size: 3svh;
}

p.top_first {
    margin-top: 4svh;
    margin-bottom: 3.2svh;
}

p.top {
    margin-bottom: 3.2svh;
}

div#footer{
    height: 5svh;
}

